.container-1, .container-2, .container-3 {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-1, .flex-box-container-2, .flex-box-rps{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    border: 1px solid black;
}

.container-2 {
    border: 1px solid red;
}

.flex-box-container-2 {
    border: 1px solid blue;
}

.flex-box-container-2 img {    
    box-shadow: 5px 10px 50px 3px rgba(0, 0, 0, 0.7);  
    margin: 10px;
}

.flex-box-rps img:hover {
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}